extends base.pug
block head
    link(rel="stylesheet", href="/css/editarProducto.css")
block title
    title Registro Producto

block container
    .container.mt-5
        h1 Registrar Producto
        hr
        form(action="/productos" method="post")
            
            .form-group.mt-3
                label(for="id" hidden="true" ) Id
                input#username.form-control( hidden="true" type="text" name="id")
            .form-group.mt-3
                label(for="nombre") Descripcion
                input#username.form-control(type="text" name="nombre")
            
            .form-group.mt-3
                label(for="precioCompra") Precio de compra
                input#password.form-control(type="text" name="precioCompra")


            .form-group.mt-3
                label(for="precioVenta") Precio de Venta
                input#password.form-control(type="text" name="precioVenta")

            .form-group.mt-3
                label(for="categoria") Categoria
                input#fullname.form-control(type="text" name="categoria")
            .form-group.mt-3
                .d-grid.gap-2
                    button.btn.btn-primary Guardar


                