extends base.pug
block head
    link(rel="stylesheet", href="/bootstrap/bootstrap.min.css")


block title
    title Categorias

block container
    h1  Ver Categorias
    if (data.length != 0)
        table.table(style={width:'800px'})
            thead
                tr
                th(scope='col') Id
                th(scope='col') Nombre
               
            tbody
                each val in data
                    tr
                        th(scope='row') 1
                        td #{val.idCategoria}
                        td #{val.nombreCategoria}
                        
                        td 
                            a.w-10.btn.btn-lg.btn-success(href="/editarCategoria/"+val.idCategoria) Editar 
                            a.w-10.btn.btn-lg.btn-danger(href="/eliminarCategoria/"+val.idCategoria) Eliminar
        a.w-10.btn.btn-lg.btn-dark(href="/agregarCategoria") Agregar Categorias

    else 
        p No hay categorias para mostrar 
        a.w-15.btn.btn-lg.btn-secondary(href="/agregarCategoria/") Guardar Categorias 





